<html>
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".card-answer").hide();
                $("#show-answer").click(function(){
                    $(".card-answer").show();
                    $("#show-answer").hide();
                });
            });
        </script>

        {% if title %}
        <title>{{ title }} - Repetiton</title>
        {% else %}
        <title>Welcome to Repetition</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div>Repetition: <a href="/decks">Decks</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>