{% extends 'base.html' %}

{% block content %}
<br>
<div class='container'>
    <h2>{{ deck.name }} - all cards</h2>

    <button id='toggle'>Add to custom deck</button>

    <form>
      <div id='add-cards-dropdown' style="display: none;">
        <label>Custom Deck:</label>
        <select id="custom_deck_select">
        {% for cd in custom_decks %}
          <option value="{{ cd.id }}">{{ cd.deck.name }}</option>
        {% endfor %}
        </select>
        <input type="submit">

      </div>

        {% include 'cards_component.html' %}

    </form>

</div>
{% endblock %}