
{% block content %}
    <br>
    <div class="container">
        <h2>Decks</h2>
            {% for language, decks in language_decks.items() %}
            {% if language %}
            <h3>{{ language }}</h3>
            {% endif %}
            <div class="table-responsive table-hover">
            <table class="table">
            <thead>
                <tr>
                <th>#</th>
                <th>Name</th>
                <th>Unique</th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% for d in decks %}
                <tr>
                    <td>{{ d.id }}</td>
                    {% if d.url %}
                    <td><a href="{{ d.url }}">{{ d.name }}</a></td>
                    {% else %}
                    <td>{{ d.name }}</td>
                    {% endif %}
                    <td>{{ d.card_total() }}</td>
                    <td><a href={{ url_for('browse_deck', deck_id=d.id) }}>Browse</a></td>
                    <td><a href={{ url_for('add_deck', deck_id=d.id) }}>Add</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
            {% endfor %}
      </div>
{% endblock %}