<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


{% for c in cards %}
  <div id="ele-{{ c.i }}" style="display: none;">
    <div id="card-id-{{ c.i }}" style="display: none;" >{{ c.id }}</div>
    <h1>{{ c.questions[0] }}</h1>
    <h2>{{ c.questions[1] }}</h2>
        <div id="card-answer-{{ c.i }}" style="display: none;">
            <p>{{ c.answers[0] }}</p>
            <p>{{ c.answers[1] }}</p>
        </div>
        <button id='show-answer'>Show Answer</button>
        <p>Card id: {{ c.id }}</p>
        <p>Ease: {{ c.ease }}</p>
  </div>
{% endfor %}


<script>
exit_integer = parseInt("{{ exit_integer }}")

  function showDiv(data) {
    $("#ele-" + data).show();
    hideElement(exit_integer, data);
  }

  function hideElement(total, active) {
    for (i = 0; i <= total; i++) {
      if (i != active)
        $("#ele-" + i).hide();
    }
  }

  function hideAnswers(total, active) {
    for (i = 0; i <= total; i++) {
      if (i != active)
        $("#card-answer-" + i).hide();
    }
    $("div[id*='card-answer']").each(function (i, el) {
         $('#'+el.id).hide()
     });
  }

  $(document).ready(function(){
    showDiv(counter);
});

var counter = 0
var dict = {"deck_id": "{{ deck_id }}"}
var shown = false
console.log(exit_integer)
document.addEventListener("keypress", function onPress(event) {
  if (event.key === "z") {
      id = $("#card-id-" + counter).text()
      counter++;
      dict[counter] = {id: id, result: 'z'}
      console.log(dict);
      $('#card-answer-' + counter).hide();
      showDiv(counter);
  } else if (event.key === "x") {
      id = $("#card-id-" + counter).text()
      counter++;
      dict[counter] = {id: id, result: 'x'}
      console.log(dict);
      $('#card-answer-'+counter).hide();
      showDiv(counter);
  } else if (event.key === "s") {
      $('#card-answer-'+counter).show()
  }
  if (counter === exit_integer) {
    fetch("{{ url_for('process_game') }}", {
      method: "POST",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(dict)
    }).then(response => {
        if (response.redirected) {
            window.location.href = response.url;
        }
    })
    .catch(function(err) {
        console.info(err + " url: " + url);
    });
  }
});
window.onbeforeunload = function() {
  fetch("{{ url_for('process_game') }}", {
      method: "POST",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(dict)
    })
    console.log('POSTING')
return;
}
// window.addEventListener('beforeunload',(event) => {

//     event.preventDefault();

//     event.returnValue = undefined;

// });
</script>