{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="col-lg-12 text-center">
        <p>{{ url }}</p>
    <h1>Get new article</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.url.label }}<br>
            {{ form.url(size=32) }}
        </div>
        <div class='col-lg-12'>
            {{ form.submit(type="submit") }}
        </div>
    </form>
</div>
</div>

<br>
<div class="container">
    <h2>Decks</h2>
        {% for language, decks in language_decks.items() %}
        {% if language %}
        <h3>{{ language }}</h3>
        {% endif %}
        <div class="table-responsive table-hover">
        <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Name</th>
            <th>Unique</th>
            <th>To Study</th>
            <th>Seen</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for d in decks %}
            <tr>
                <td>{{ d.id }}</td>
                {% if d.deck.url %}
                <td><a href="{{ d.deck.url }}">{{ d.deck.name }}</a></td>
                {% else %}
                <td>{{ d.deck.name }}</td>
                {% endif %}
                <td>{{ d.card_total() }}</td>
                <td>{{ d.to_study_total() }}</td>
                <td>{{ d.seen_total() }}</td>
                <td><a href={{ url_for('sort', deck_id=d.id) }}>Sort</a></td>
                <td><a href={{ url_for('browse_deck', deck_id=d.id) }}>Browse</a></td>
                <td><a href={{ url_for('flash', deck_id=d.id) }}>Play</a></td>
                <td><a href={{ url_for('deck_settings', deck_id=d.id) }}>Settings</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
        {% endfor %}
  </div>
{% endblock %}